{% extends "base.html" %}

{% block content %}
<div class="welcome-section fade-in">
    <div class="row">
        <div class="col-md-6">
            <div class="featured-image">
                <img src="{{ url_for('static', filename='images/featured.jpg') }}" alt="Elegant portrait" class="img-fluid">
            </div>
        </div>
        <div class="col-md-6">
            <div class="welcome-text">
                <h2>Welcome to My World</h2>
                <p class="lead">Where sophistication meets genuine connection.</p>
                <p>I'm Venus, your curator of extraordinary moments and unforgettable experiences. In a world of fleeting encounters, I offer something truly rare: authentic connection wrapped in layers of sophistication and grace.</p>
                <p>As your private muse and confidante, I create bespoke experiences that transcend the ordinary, crafting moments that linger in your memory long after our time together concludes.</p>
                <a href="{{ url_for('introduction') }}" class="btn btn-outline-light mt-4">Discover More</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
